@media only screen and (min-width: 320px) and (max-width: 479px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
// .container {width: $container-width - 250}
// #wrapper {width: $container-width - 250}

.two-columns-right-sidebar #main {width:$main-width}
.two-columns-right-sidebar #sidebar-primary {width:$sidebar-width}

.entry-title{display:$none}

// .sp-horizontal{ margin-bottom: 10px; @include box-shadow(1px,1px,5px,2px, #ccc, false); padding: 0px }
#navbar-navigation ul#menu-right-menu{display: none;}

}

@media only screen and (min-width: 992px) and (max-width: 1999px) {

#outerwrapper{
position:absolute;
top: 55%;
left: 50%;
width:930px;
min-height:608px;
margin-top: -304px; /*set to a negative number 1/2 of your height - http://www.infinitywebdesign.com/research/cssverticalcentereddiv.htm*/
margin-left: -465px; /*set to a negative number 1/2 of your width*/
@include background-image("papercurl.jpg", right bottom, #ffffff);
}

.container {width: $container-width}
#wrapper {width: $container-width}

.two-columns-right-sidebar #main {width:$main-width;}
.two-columns-right-sidebar #sidebar-primary {width:$sidebar-width; }

.entry-title{display:$none}
#navbar-navigation ul#menu-right-menu{display: none;}

.sp-image{ width: 650px!important}
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
