* {
	font-family:Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    @include vendor(box-sizing, border-box); 
}
