$black: #000;
$primaryColor: #666666;
$secondaryColor: #ff3300;
// $grey( $primaryColor, 10% )

$container-width:930px;
$wrapper-width: 930px;
$main-width:76.667%;
$sidebar-width:23.333%;

$none:none;

$title-font: normal 24px/1.5 Arial,'Open Sans', sans-serif;

$path--rel: "../img";
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
