.site-header{min-height: auto;}
.navbar { margin-bottom: 0;}
.site-description, .site-title {
 font-size: 16px;
 line-height: normal;
}

.site-title a{float: none; font-weight: bold; margin-right: 2px;}
.site-header {background: #ffffff;}