body{background: $black}
#outerwrapper{
    @include background-image("papercurl.jpg", right bottom, #ffffff);
}

.entry-header {margin-bottom: 0px;}
article.hentry {margin-bottom: 0px;}
p{color: $primaryColor;}
h6{color: $primaryColor;}
#content > .container{background-color: transparent;} 


/* Ultimate Responsive Image Slider */ 
// .sp-horizontal{ background-color: #eee; @include box-shadow(1px,1px,5px,2px, #ccc, false);} 
.sp-horizontal{ margin-bottom: 10px; @include box-shadow(1px,1px,5px,2px, #ccc, false); padding: 15px }
.sp-selected-thumbnail{border-width: 1px!important;}
.sp-bottom-thumbnails { padding: 15px 0 0 0}

/* Home */ 
body.home{
	text-align: center;

	background-color: #f4f4f4;

	header, .sidebar-primary{display: none;}

	#outerwrapper {background-image: none; 	background-color: #f4f4f4;}
	h6{ text-align: center;}

}