 #header .site-brand {padding: 10px 15px 0 15px;}
 .navigation
{
  .menu > li > a { padding:12px 12px 0 12px; font-size:12px}
  .menu .current-menu-item > a, .menu .current-menu-item > a:focus, .menu .current-menu-item > a:hover
  {color: $secondaryColor; background-color:#ffffff}
 
}

