
#sidebar-primary{padding-top: 0;}
ul#menu-right-menu-1{
		padding: 0;
		li { 
			list-style: none;
			line-height: 25px;

		a{color: $primaryColor; font-size:12px}
		a:hover{color: $secondaryColor; text-decoration: none;}
		}

		li.current-menu-item{
        	a{color: $secondaryColor;}
		}
}